body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/img/limbo.jpg'); /* Añadido el punto y coma al final de esta línea */
    background-size: cover;
    background-position: center;
}

#encabezado {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
    opacity: 0.90;
    
}

#pagina1 {
    text-align: center;
    margin-top: 200px;
}

#pagina1 a {
    display: inline-block;
    padding: 20px 30px;
    background-color: #000000;
    color: #cf6814;
    text-decoration: none;
    font-weight: bold;
    font-size:200%;
    border-radius: 5px;
    color: #fd8700;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    background: #000000;

}

#pagina1 a:hover {
    background: linear-gradient(to bottom, rgb(240,183,161) 0%,rgb(140,51,16) 50%,rgb(117,34,1) 51%,rgb(191,110,78) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#pie-de-pagina {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
